@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');

@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -100vw 50vh;
    }
}

html {
    height:  100vh;
}

body {
    overflow: hidden;
    display: grid;
    grid-template-rows: 10vh 1fr 5vh;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 100vh;
    font-family: "Lexend Exa", sans-serif;
    background-image: url("source/leaves.png");
    background-blend-mode: multiply;
    animation: moveBackground 240s linear infinite;
    background-color: #b6d5b6;
}

header > h1 {
    align-self: center;
    font-size: 36px;
    text-align: center;
    padding: 0 1rem;
    font-weight: 700;
    color: rgb(0, 41, 5);
    border: 5px solid rgb(38, 87, 51);
    background-color: #a0d8a0;
}

main {
    height: max-content;
    width: 75vh;
}

.intro {
    opacity: 100%;
    color: rgba(136, 103, 71, 0.843);
    font-style: italic;
    text-align: center;
    position: relative;
    margin-bottom: -10vh;
    top: 40%;
    transition: all 5s linear;
    user-select: none;
}

.removed {
    opacity: 0%;
}

.garden {
    width: 100%;
    height: 75vh;
    background-image: url("source/sand.jpg");
    background-size: 150%;
    image-rendering: pixelated;
    background-color: bisque;
    background-blend-mode:darken;
    box-sizing: border-box;
    border: 5px solid rgb(105, 77, 49);
}

svg {
    width: 100%;
    height: 100%;
}

line {
    stroke: rgb(195, 154, 94);
    stroke-width: 10px;
    stroke-linecap: round;
}

circle {
    fill: none;
    stroke: rgb(195, 154, 94);
    stroke-width: 10px;
}

.stencil {
    opacity: 50%;
}

.control {
    padding-top: 0.5rem;
    display: flex;
    height: 40px;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

.selected {
    background-color: rgb(112, 84, 57);
}

button {
    border: 5px solid rgb(105, 77, 49);
    background-color: rgb(163, 130, 90);
    width: 25%;
}

button>img {
    width: 25px;
}

footer {
    text-align: center;
    font-weight: 300;
    color: rgba(0, 41, 5, 0.849);
    mix-blend-mode: hard-light;
    margin: 0;
}

a {
    color: rgb(0, 41, 5);
}   