@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');

@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -100vw 50vh;
    }
}


body {
    overflow: hidden;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: "Lexend Exa", sans-serif;
    background-image: url("source/leaves.png");
    background-blend-mode: multiply;
    animation: moveBackground 240s linear infinite;
    background-color: #b6d5b6;
}

header {
    font-size: 48px;
    text-align: center;
    font-weight: 700;
    color: rgba(0, 41, 5, 0.849);
    mix-blend-mode: hard-light;

}

main {
    height: max-content;
    width: 75vh;
}

main>p {
    font-style: italic;
    font-weight: 700;
    text-align: center;
    color: rgba(0, 41, 5, 0.849);
    mix-blend-mode: hard-light;
}

.garden {
    width: 100%;
    height: 75vh;
    background-color: bisque;
    box-sizing: border-box;
    border: 10px solid rgb(105, 77, 49);
}

svg {
    width: 100%;
    height: 100%;
}

line {
    stroke: rgb(209, 178, 147);
    stroke-width: 10px;
    stroke-linecap: round;
}

circle {
    fill: none;
    stroke: rgb(209, 178, 147);
    stroke-width: 10px;
}

.stencil {
    opacity: 50%;
}

.control {
    padding-top: 1rem;
    display: flex;
    height: 75px;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

.selected {
    background-color: rgb(112, 84, 57);
}

button {
    border: 5px solid rgb(105, 77, 49);
    background-color: rgb(163, 130, 90);
    width: 25%;
}

button>img {
    width: 50px;
}

footer {
    text-align: center;
    font-weight: 300;
    color: rgba(0, 41, 5, 0.849);
    mix-blend-mode: hard-light;
}