* {
    /* border: 1px solid gray; */
}

body {
    background-image: url("images/diamondpattern.png");
    background-color: rgb(45, 75, 83);
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFF3B0
}

main, header, footer {
    background-color: #54757e;
    width: 80vw;
    margin: 0 auto;
    padding: 1rem;
    box-shadow: 10px 5px 20px #121f21;
}

header {
    background-image: url("images/starpattern.png");
    background-size: 1rem;
    border-style: double;
    border-width: 1rem;
    background-color: rgb(158, 42, 43);
    color: rgb(55, 4, 6); 
}

#title, #description {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: none;
    padding:1rem;
}

#gallery {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}


img {
    border: #E09F3E double 10px;
}


ul {
    background-color: #1c2e33;
}

hr {
    border-style: double;
    border-width: 5px;
    color: #E09F3E;
}

h2 {
    color: #760709;
    text-transform: uppercase;
    font-family: "Passion One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    margin-left: 25px;
}

footer {
    padding: 1rem;
    background-color: #1c2e33;
}

a {
    color:  #712a15;
}

a:visited {
    color:  #9E2A2B;
}

a:hover {
    color: #ff7700;
}

a:active {
    color: rgb(255, 242, 0);
  }