/* bright yellow -- rgb(252,185,22)
    baby blue - rgb(15, 207, 242)
    steel blue - rgb(41, 67, 91) (header text)
    text gradient - rgb(105, 127, 144) -> rgb(46, 77, 99)
 */


#wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 10fr 1fr;

    grid-template-areas:
        "hero header"
        "hero main"
        "footer footer";

    max-width: 1200px;
    margin: 0 auto;
}


.header {
    grid-area: header;
}

.hero {
    grid-area: hero;
    background-image: radial-gradient(
        farthest-corner at 75% 0%,
        rgb(155,155,155
        ), rgb(100,100,100))
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

body {
    height: 100vh;
}

* {
    border: 1px red ridge;
}