@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&family=Zilla+Slab:ital,wght@0,500;0,700;1,400&display=swap');

/* bright yellow -- rgb(252,185,22)
    baby blue - rgb(15, 207, 242)
    steel blue - rgb(41, 67, 91) (header text)
    text gradient - rgb(105, 127, 144) -> rgb(46, 77, 99)
 */

 .medium {
    font-family: "Zilla Slab", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    line-height: 1.5;
  }
  
  .bold {
    font-family: "Zilla Slab", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
  }
  
  .italic {
    font-family: "Zilla Slab", serif;
    font-weight: 400;
    font-style: italic;
  }

#wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 10fr 1fr;

    grid-template-areas:
        "hero header"
        "hero main"
        "footer footer";

    max-width: 800px;
    margin: 0 auto;
    margin-top: 1rem;
}

.header {
    grid-area: header;
}

.hero {
    position: relative;
    grid-area: hero;
    background-image: radial-gradient(
        farthest-corner at 75% 0%,
        rgb(155,155,155
        ), rgb(100,100,100));
    
    overflow: hidden;
}

#apartmentHero {
    z-index: 1;
    object-position: -25vh 0;
    width: 125%;
}

#sidebar {
    position: absolute;
    z-index: 100;
    width: 50%;
    background-color: #fcb916;
    float: left;
    left: 0px;
    bottom: 0px;
    padding-left: 3rem;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
}

#sidebar > h2 {
    width: 50%;
    line-height: 1;
    margin: 2rem 0 0 0;
}

#sidebar > .medium {
    margin: 0 0 0 0;
    white-space: pre-wrap;
    display: inline;
}


.main {
    padding: 0 1rem 0 1rem;
    columns: 2;
}

#dropcap {
    float: left;
    font-size: 20vh;
    line-height: 20vh;
    color: rgb(252,185,22);
}

.main > p {
    white-space: pre-wrap;
    display: inline;
    background: -webkit-linear-gradient(#697f90, #2E4D63);
    background-size: 100%;
    background-clip: text; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer {
    grid-area: footer;

}

body {
    height: 100vh;
}
/* 
* {
    border: 1px red ridge;
} */